.custom-toast {
  border-radius: 8px !important;
  color: white !important;
}

.Toastify__toast--success {
  background-color: #28a745 !important;
  color: white !important;
}

.Toastify__toast--error {
  background-color: #dc3545 !important;
  color: white !important;
}

.Toastify__toast--info {
  background-color: #333 !important;
  color: white !important;
}
.Toastify__toast-icon {
  display: none !important;
}